<template>
  <div class="home">
    <div class="section-header">
      Dummy Async Data presented in basic material cards
    </div>
    <md-progress-spinner
      class="spinner"
      v-if="loadingData"
      :md-diameter="500"
      :md-stroke="10"
      md-mode="indeterminate"
    ></md-progress-spinner>
    <div id="posts-container" v-if="images">
      <ul>
        <li v-for="index in 10" :key="index">
          <md-card>
            <md-card-header>
              <md-card-header-text>
                <div class="md-title">{{ data[index].title }}</div>
                <div class="md-subhead">{{ data[index].body }}</div>
              </md-card-header-text>

              <md-card-media>
                <img :src="images[index].url" alt="People" />
              </md-card-media>
            </md-card-header>
          </md-card>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Home",

  components: {},
  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      data: ["Home/data"],
      images: ["Home/images"],
      loadingData: ["Home/loadingData"],
    }),
  },
  async mounted() {
    try {
      await this.$store.dispatch("Home/fetchHomeData");
    } catch (error) {
      console.error(error);
    } finally {
      this.loadingData = false;
    }
  },
};
</script>

<style lang="scss" scoped>
#posts-container {
  height: 80vh;
  padding: 40px;
  ul {
    overflow: scroll;
    list-style-type: none;
    height: 100%;
  }
}
</style>
