<template>
  <div class="phone-viewport">
    <md-bottom-bar md-type="shift" :md-theme="'bottom-bar-' + theme">
      <md-bottom-bar-item
        to="/"
        md-icon="Posts"
        @click="theme = 'teal'"
      ></md-bottom-bar-item>
      <md-bottom-bar-item
        to="/crypto"
        md-icon="Crypto"
        @click="theme = 'red'"
      ></md-bottom-bar-item>
    </md-bottom-bar>
  </div>
</template>

<script>
export default {
  name: "BottomNavBar",
  data: () => ({
    theme: "teal",
  }),
};
</script>

<style lang="scss">
@import "~vue-material/dist/theme/engine";

@include md-register-theme(
  "bottom-bar-teal",
  (
    primary: md-get-palette-color(teal, A200),
  )
);

@include md-register-theme(
  "bottom-bar-orange",
  (
    primary: md-get-palette-color(orange, A200),
  )
);

@include md-register-theme(
  "bottom-bar-blue",
  (
    primary: md-get-palette-color(blue, A200),
    accent: md-get-palette-color(red, A200),
  )
);

@include md-register-theme(
  "bottom-bar-red",
  (
    primary: md-get-palette-color(red, A200),
  )
);

@import "~vue-material/dist/theme/all";
</style>

<style lang="scss" scoped>
.phone-viewport {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid rgba(#000, 0.26);
  background: rgba(#000, 0.06);
}
</style>