<template>
  <div>

  </div>
</template>

<script>
export default {
  name: "PostList",
  props: {
    list: Array,
  },
};
</script>

<style lang="scss" scoped>
.md-list {
  width: 320px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border: 1px solid rgba(#000, 0.12);
}
</style>