<template>
  <div id="app">
    <router-view />
    <bottom-nav-bar />
  </div>
</template>

<script>
import BottomNavBar from "./components/BottomNavBar.vue";
export default {
  components: { BottomNavBar },
};
</script>

<style lang="scss">
* {
  margin: 0px;
  padding: 0px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.md-ripple {
  justify-content: space-around;
  padding: 10px;
}
.section-header {
  height: 100px;
}
</style>
